/*********** TAG SELCTOR ***********/


body {
  background-color: #f8ede3;
}

hr {
  border-style: none;
  border-top-style: dotted;

  border-color: #798777;
  border-width: 7px;
  width: 3%;
}

h1 {
color: #a2b29f;
}

h2 {
color: #bfcba8;
}

h3 {
color: #bfcba8;
}

h4 {
color: #bdd2b6;
}

h5 {
color: #798777;
}

p {
  color: #798777;
}

th {
  color: #798777;

}

td {
  color: #798777;

}

li {
  color: #798777;

}


/***************** CLASS SELECTOR **************
.popcorn {
background-color:
}
*/

/************** ID SELCTOR ********************
#heading {
  blue;
}
*/
